* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-main;
}

*:focus {
    outline: 0;
    outline: none;
}

html {
    font-size: $fz-root; // root font-size, DO NOT CHANGE
}

body {
    font-size: 1.6rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li, ol {
    margin: 0;
    padding: 0;
}